# generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# Morpheus Inference API
# Get your API key at https://app.mor.org
MORPHEUS_API_KEY=your-morpheus-api-key

# https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# https://vercel.com/docs/postgres
POSTGRES_URL=****

# https://vercel.com/docs/redis
REDIS_URL=****
